@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<<<<<<< HEAD
    
=======
>>>>>>> c4551aaa959150ba4ea24de95dc92cb0e74df1b4
</div>
